/* Reseteo */
* 
    {margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {font-family: 'Poppins', sans-serif !important}

/* Imagen Mediana */
.ImgMediana 
    {width: 100px;
    height: 100px}
/* Fin Imagen Mediana */

/* Imagen Reviews */
.ImgReviews
    {width: 65% !important;}
/* Fin Imagen Mediana */

/* CSS Header */
.ImgChica
    {width: 110px;
    height: 50px}

.NavBarHeader 
    {border-radius: 0px;
    box-shadow: 0 1px 5px rgba(189, 189, 189, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 5;}

.bg-light {
    background: rgba(255, 255, 255) !important;}

.CTAMenuHeader {
    border-radius: 20px;
    background: rgb(255, 198, 172);
    box-shadow: 2px 2px 2px 0px rgba(66, 66, 66, 0.09);
    margin: 2px 5px;
    padding: 6px 20px !important;
    transition: .5s;}

.navbarjustifyend {
    justify-content: end !important;}

.nav-link {
    color: rgb(51, 51, 51) !important;}

.nav-link:hover {
    color: rgb(255, 198, 172) !important;}

.CTAMenuHeader:hover {
    background: rgb(251, 168, 129);
    color: rgb(51, 51, 51) !important;}

.active {
    color: rgb(251, 168, 129) !important;}

.d-item {
    height: 700px;}

.d-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);}

.carousel-caption {bottom: 27%;}

.btn-header {color: aliceblue;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    border-style: none;
    background: rgb(255, 198, 172);
    padding: 7px 25px;
    transition: 0.5s;
}

.btn-header:hover {
    background: rgb(251, 168, 129);
    color: rgb(51, 51, 51);
    transform: scale(1.03);
}


/* Fin CSS Header */

/* CSS Headings */

h2 {
    font-weight: 600;}

h3 {
    margin-bottom: 3rem !important;
}

/* Fin CSS Headings */


/* CSS Tarjetas Mascotas */
.card {
    border: none !important;
    border-radius: 1.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.5s;}

.card:hover {
    transform: scale(1.03);
}

.card-img-top {
    border-radius: calc(1.5rem - 1px);
    justify-content: center;
    margin: auto;
    width: 80%;
    margin-top: 2rem;}

.card-body {
    text-align: center;
    color: rgb(51, 51, 51);
    font-weight: normal;}

.btn-primary {color: aliceblue;
    font-weight: 600;
    border-radius: 1.5rem;
    border-style: none;
    background: rgb(255, 198, 172);
    padding: 7px 25px;}

.btn-primary:hover {
    background: rgb(251, 168, 129);
    color: rgb(51, 51, 51);}

/* Fin CSS Tarjetas Mascotas */


/* CSS Tarjetas Huelliters */
.CardHuelliters {
    background-color: rgb(255, 246, 220);}
/* Fin CSS Tarjetas Huelliters */

/* CSS Tarjetas Reviews */

.CardReviews {
    background-color: none;
    border-style: none;
    box-shadow: none;
}

.CardReviews:hover {
    transform: none;
}

/* IFrame */
iframe {
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 16px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);}
/* Fin IFrame */


/* CSS Legales */

#Legales {
    background-color: rgb(158, 159, 165);
    color: rgb(51, 51, 51);
    font-family:'Poppins', sans-serif;
    padding: 20px;
    padding-top: 40px;
    margin-top: 40px;}

.LogosRRSS {
    height: 30px;
    width: 30px;
    margin: 10px;}

.NavFooter {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-family: 'Poppins', sans-serif;}

.NavFooter:hover {
    color: rgb(255, 198, 172);
}

.ListaFooter {
    list-style: none;
}

/* Fin CSS Legales */