/* Reseteo */
* 
    {margin: 0;
    padding: 0;
    box-sizing: border-box;}

/* variables sass */

$fuente-global: 'Poppins', 'sans-serif';
$color-rosa-ctas-base: rgb(255, 198, 172);
$color-rosa-ctas-hover: rgb(251, 168, 129);
$color-tarjeta-huelliter: rgb(255, 246, 220);

body {
    font-family: $fuente-global !important;
}

/* Imagen Mediana */
.ImgMediana 
    {width: 100px;
    height: 100px}
/* Fin Imagen Mediana */

/* Imagen Reviews */
.ImgReviews
    {width: 65% !important;}
/* Fin Imagen Mediana */

/* CSS Header */
.ImgChica
    {width: 110px;
    height: 50px}

.NavBarHeader 
    {border-radius: 0px;
    box-shadow: 0 1px 5px rgba(189, 189, 189, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 5;}

.bg-light {
    background: rgb(255, 255, 255) !important;}

.CTAMenuHeader {
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background: $color-rosa-ctas-base;
    box-shadow: 2px 2px 2px 0px rgba(66, 66, 66, 0.09);
    margin: 2px 5px;
    padding: 6px 20px !important;
    transition: .5s;
    &:hover {
    background: $color-rosa-ctas-hover;
    color: rgb(51, 51, 51) !important;}
    }

.navbarjustifyend {
    justify-content: end !important;}

.nav-link {
    color: rgb(51, 51, 51) !important;
    &:hover {color: $color-rosa-ctas-hover !important;}
}

.active {
    color: $color-rosa-ctas-hover !important;}

.d-item {
    height: 700px;}

.d-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);}

.carousel-caption {bottom: 27%;}

.btn-header {color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    border-style: none;
    background: $color-rosa-ctas-base;
    padding: 7px 25px;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
    background: $color-rosa-ctas-hover;
    color: rgb(51, 51, 51);
    transform: scale(1.03);}
}


/* Fin CSS Header */

/* CSS Headings */

h2 {
    font-weight: 600;}

h3 {
    margin-bottom: 3rem !important;
}

/* Fin CSS Headings */


/* CSS Tarjetas Mascotas */
.card {
    border: none !important;
    border-radius: 1.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.5s;

    &:hover {transform: scale(1.03);}
}

.card-img-top {
    border-radius: calc(1.5rem - 1px);
    justify-content: center;
    margin: auto;
    width: 80%;
    margin-top: 2rem;}

.card-body {
    text-align: center;
    color: rgb(51, 51, 51);
    font-weight: normal;}

.btn-primary {color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 1.5rem;
    border-style: none;
    background: $color-rosa-ctas-base;
    padding: 7px 25px;

    &:hover {background: $color-rosa-ctas-hover;
    color: rgb(51, 51, 51);}
    &:focus {background-color: $color-rosa-ctas-hover !important;
    border-color: $color-rosa-ctas-hover !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 221, 205, 0.685) !important;}
}
/* Fin CSS Tarjetas Mascotas */


/* CSS Tarjetas Huelliters */
.CardHuelliters {
    background-color: $color-tarjeta-huelliter;}
/* Fin CSS Tarjetas Huelliters */

/* CSS Tarjetas Reviews */

.CardReviews {
    background-color: none;
    border-style: none;
    box-shadow: none;
    &:hover {transform: none;}
}

/* IFrame */
iframe {
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 16px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);}
/* Fin IFrame */

/* CSS Sobre Nosotros */

.ImgInicio {
    width: 70%;
    border-radius: 1.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Fin CSS Sobre Nosotros */

/* CSS Legales */

#Legales {
    background-color: rgb(158, 159, 165);
    color: rgb(51, 51, 51);
    font-family:'Poppins', sans-serif;
    padding: 20px;
    padding-top: 40px;
    margin-top: 40px;}

.LogosRRSS {
    height: 30px;
    width: 30px;
    margin: 10px;}

.NavFooter {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-family: 'Poppins', sans-serif;
    &:hover {color: $color-rosa-ctas-base;}
}

.ListaFooter {
    list-style: none;
}

.LogoFooter {
    width: 20% !important;
}

/* Fin CSS Legales */

/* CSS Paginación */
.page-link {
    border-style: none;
    color: rgb(196, 193, 164);
    &:hover {
    color:rgb(130, 127, 100);
    background-color: $color-rosa-ctas-base;
    border-radius: 1.5rem;}
}


/* Fin CSS Paginación */

/* CSS Contacto */

#HablaConNosotros form div div input {
    border-radius: 1rem;
    padding: 4px 10px;
    width: 65%;
    border-color:rgb(196, 193, 164);
    border-width: 1px;
}

#HablaConNosotros form div div textarea {
    border-radius: 1rem;
    padding: 4px 15px;
    width: 50%;
    border-color:rgb(196, 193, 164);
    border-width: 1px;
    color: rgb(89, 90, 90);
}


/* Fin CSS Contacto */

